<ion-view title="{{bar.barname}}" class="card-bg">

  <ion-content has-header="true" padding="true">

    <div ng-repeat="bar in bars" class="list card">
                   <a ui-sref="app.bar-detail({barId: bar.id})">
                       <div class="item">
                           <img class="full-image" ng-if="bar.image__c" ng-src="{{bar.image__c}}">
                           <p><b>{{bar.name}}</b></p>
                           <!-- <p>{{bar.name}}</p> -->
                       </div>
                        <!-- <div class="item item-text-wrap" style="padding: 0;">
                           <div class="row">
                             <div class="col"><p>{{bar.timeago}}</p></div>
                             <div class="col" style="text-align: right;"><p>0.3 mile</p></div>
                           </div>
                       </div> -->
                       <div class="item item-image">
                           <img class="full-image" ng-if="bar.image" ng-src="{{bar.image}}">
                       </div>

                       <div class="item item-body">
   <!--                         <img class="full-image" ng-if="bar.image" ng-src="{{bar.image}}"> -->
                          <p style="font-size: large;">{{bar.description}}</p>
                          <!-- <p align = "left"> 0.3 mile</p> -->
   <!--                         <p>
                               <a href="#" class="subdued">1 Like</a>
                               <a href="#" class="subdued">5 Comments</a>
                           </p> -->
                       </div>

                   </a>
                   </div>


          <!-- <div class="item tabs tabs-secondary">
              <a class="tab-item" ng-click="shareOnFacebook()">
                  <i class="icon icon-facebook"></i>
              </a>
              <a class="tab-item" ng-click="shareOnGoogle()">
                  <i class="icon icon-google"></i>
              </a>
              <a class="tab-item" ng-click="shareOnTwitter()">
                  <i class="icon icon-twitter"></i>
              </a>
          </div> -->
      </div>

  </ion-content>
</ion-view>
