<ion-view title="Special Offers" hide-back-button="true" class="welcome" hide-nav-bar='true'>



    <ion-content>

        <div ng-repeat="offer in offers" class="list card">
            <a ui-sref="app.offer-detail({offerId: offer.id})">
                <div class="item">
                    <h2>{{offer.name}}</h2>

                    <p>Expires on {{offer.enddate | date:'EEEE, MMMM d y'}}</p>
                </div>
                <div class="item item-body">
                    <img ng-if="offer.image" ng-src="{{offer.image}}">
                    <p>{{offer.description}}</p>
                </div>
            </a>
        </div>


    </ion-content>

</ion-view>