<ion-view title="Special Offers" hide-back-button="true" class="welcome" hide-nav-bar='true'>



    <ion-content>
        <div style="margin-top: 50px;text-align: center;">


            <img src="css/img/HappyHops2.png" style="width:65%; margin:0 auto;display: block;"/>


            <h2 style="margin-top: 2px;">Where are you</h2>
            <h2>hopping</h2>
            <h2>next?</h2>

            <div class="bottom">
                <a class="button button-stable" ui-sref="app.signup" style="max-width:84%;color:#73404C;padding-left:28px;padding-right:28px;">
                    Sign Up to happy some hops
                </a>
                <a class="button button-block button-clear" ui-sref="app.login">
                    Already a Hopper?&nbsp;&nbsp;Log In&nbsp;<i class="icon-arrow-right"></i>
                </a>
            </div>
        </div>

<!--         <ion-scroll zooming="true" direction="xy" style="width: 100%; height: 500px">
 -->            <div ng-repeat="offer in offers" class="list card">
                <a ui-sref="app.offer-detail({offerId: offer.id})">
                    <div class="item">
                        <h2>{{offer.barName}}</h2>
                        <div class="item-avatar">
                            <img ng-if="offer.bartenderPic" ng-src="{{offer.bartenderPic}}">
                            <h3>{{offer.bartenderName}}</h3>
                        </div>
                        <p>Posted on {{offer.createdTime | date:'EEEE, MMMM d y'}}</p>
                    </div>
                    <div class="item item-body">
                        <img class="full-image" ng-if="offer.image" ng-src="{{offer.image}}">
                        <p>{{offer.description}}</p>
                    </div>
                </a>
            </div>
<!--         </ion-scroll>
 -->

    </ion-content>

</ion-view>