<ion-view title="Happy Hops" hide-back-button="true" class="welcome" hide-nav-bar='true'>



		<ion-content>
				<div style="margin-top: 50px;text-align: center;">
						<img src="css/img/HappyHops2.png" style="width:50%; margin:0 auto;display: block;"/>

						<br>
						<h2>Where are you hopping next?</h2>
						<br>

						<div class="top">

								<a class="button button－stable" ui-sref="app.bartenderlogin">
										 Bartender?&nbsp;
								</a>
								<br>
								<br>
								<br>
						</div>
				</div>
          		<div ng-repeat="offer in offers" class="list card">
								<a ui-sref="app.offer-detail({offerId: offer.id})">
										<div class="item item-avatar">
												<img ng-if="offer.bartenderpic" ng-src="{{offer.bartenderpic}}">
												<p><b>{{offer.bartendername}}</b></p>
												<p>{{offer.barname}}</p>
										</div>
										 <div class="item item-text-wrap" style="padding: 0;">
												<div class="row">
													<div class="col"><p>{{offer.timeago}}</p></div>
													<div class="col" style="text-align: right;"><p>0.3 mile</p></div>
												</div>
										</div>
										<img class="full-image" ng-if="offer.campaignpage" ng-src="{{offer.campaignpage}}">
										<img class="full-image" ng-if="!offer.campaignpage" ng-src="{{offer.image}}">

										<div class="item item-body">
											 <p style="font-size: large;">{{offer.description}}</p>
										</div>
								</a>
								</div>

		</ion-content>

</ion-view>
