<ion-view title="Happy Hops" hide-back-button="true" class="card-bg">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content has-header="true" padding="true">

        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>

        <!-- Journey Builder survey opt-in button
        <div class="card" ng-show="showSignup">
            <div class="item item-text-wrap">
                Would you like to see premium member offers? Just sign up to get offers in your inbox.
                <button class="button button-block button-status{{user.status || 1}}" ng-click="signUp()">
                    Yes, sign up for special offers!
                </button>

            </div>
        </div>
        -->
             <div ng-repeat="offer in offers" class="list card">
                <a ui-sref="app.offer-detail({offerId: offer.id})">
                    <div class="item item-avatar">
                        <img ng-if="offer.bartenderpic" ng-src="{{offer.bartenderpic}}">
                        <p><b>{{offer.bartendername}}</b></p>

                        <p>{{offer.barname}}</p>
                    </div>
                    <div class="item item-text-wrap">
                       <!-- <p>Posted on {{offer.createdtime | date:'EEEE, MMMM d y'}}</p> -->
                       <p>{{offer.timeago}}</p>
                    </div>
                    <div class="item item-image">
                        <img class="full-image" ng-if="offer.image" ng-src="{{offer.image}}">

                    </div>
                    <div class="item item-body">
<!--                         <img class="full-image" ng-if="offer.image" ng-src="{{offer.image}}">
-->                        <p>{{offer.description}}</p><!-- 
                            <a href="#" class="subdued">1 Like</a>
                            <a href="#" class="subdued">5 Comments</a> -->
                    </div>
                </a>

            </div>



    </ion-content>

</ion-view>
