<ion-view title="{{offer.barname}}" class="card-bg">

  <ion-content has-header="true" padding="true">

      <div class="list card">
          <div class="item">
              <h2>{{offer.name}}</h2>

              <!-- <p>Posted 50 mins ago</p> -->

              <!-- <p id = "demo"> </p> -->
              <p>{{offer.timeago}}</p>
          </div>
          <div class="item item-image">
                        <img class="full-image" ng-if="offer.image" ng-src="{{offer.image}}">
          </div>
          <div class="item item-body">


              <p>{{offer.description}}</p>

              <!-- <div class="button-bar">
                  <a class="button button-block button-light" style="font-size: .9rem;" ng-click="redeem()">
                      Redeem
                  </a>
                  <a class="button button-block button-light"  style="font-size: .9rem;" ng-click="saveToWallet()">
                      Save to Wallet
                  </a>
              </div> -->
          </div>
          <div class="item item-text-wrap">
            <p>{{offer.location}}</p>
          </div>
          <div align="center" class="item current_detail">
            <!-- <img>  -->

            <p>$3.00 DRAFTS</p>
            <p>$5.00 WINES </p>
            <p>$7.00 WELLS </p>
          </div>

          <div class="item item-avatar">
                <img ng-if="offer.bartenderpic" ng-src="{{offer.bartenderpic}}">
                <p><b>{{offer.bartendername}}</b></p>

                <p>{{offer.barname}}</p>
          </div>


          </div>



          <!-- <div class="item tabs tabs-secondary">
              <a class="tab-item" ng-click="shareOnFacebook()">
                  <i class="icon icon-facebook"></i>
              </a>
              <a class="tab-item" ng-click="shareOnGoogle()">
                  <i class="icon icon-google"></i>
              </a>
              <a class="tab-item" ng-click="shareOnTwitter()">
                  <i class="icon icon-twitter"></i>
              </a>
          </div> -->
      </div>

  </ion-content>
</ion-view>
