<ion-view title="{{offer.barname}}" class="card-bg">

  <ion-content has-header="true" padding="true">

      <div class="list card">
          <div class="item">
              <h2>{{offer.name}}</h2>

              <!-- <p>Posted 50 mins ago</p> -->

              <!-- <p id = "demo"> </p> -->
              <p id = "demo"> Posted 1 minute ago {{offer.getTime}} </p>

              <p>Expires on April 10th{{offer.enddate | date:'EEEE, MMMM d y'}}</p>
              <p>Posted on {{timeago}} Ago</p>
          </div>
          <div class="item item-image">
                        <img class="full-image" ng-if="offer.image" ng-src="{{offer.image}}">
          </div>
          <div class="item item-body">


              <p>{{offer.description}}</p>

              <!-- <div class="button-bar">
                  <a class="button button-block button-light" style="font-size: .9rem;" ng-click="redeem()">
                      Redeem
                  </a>
                  <a class="button button-block button-light"  style="font-size: .9rem;" ng-click="saveToWallet()">
                      Save to Wallet
                  </a>
              </div> -->
          </div>

          <!-- <div class="item tabs tabs-secondary">
              <a class="tab-item" ng-click="shareOnFacebook()">
                  <i class="icon icon-facebook"></i>
              </a>
              <a class="tab-item" ng-click="shareOnGoogle()">
                  <i class="icon icon-google"></i>
              </a>
              <a class="tab-item" ng-click="shareOnTwitter()">
                  <i class="icon icon-twitter"></i>
              </a>
          </div> -->
      </div>

  </ion-content>
</ion-view>

<script>
  document.getElementById("timeago").innerHTML ="test";

  // document.getElementById('timeago').innerHTML = timeSince(offer.createdtime);

   function timeSince(date) {
            var seconds = Math.floor((new Date() - date) / 1000);
            var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            if (seconds < 5){
                return "just now";
            }else if (seconds < 60){
                return seconds + " seconds ago";
            }
            else if (seconds < 3600) {
                minutes = Math.floor(seconds/60)
                if(minutes > 1)
                    return minutes + " minutes ago";
                else
                    return "1 minute ago";
            }
            else if (seconds < 86400) {
                hours = Math.floor(seconds/3600)
                if(hours > 1)
                    return hours + " hours ago";
                else
                    return "1 hour ago";
            }
            //2 days and no more
            else if (seconds < 172800) {
                days = Math.floor(seconds/86400)
                if(days > 1)
                    return days + " days ago";
                else
                    return "1 day ago";
            }
            else{

                //return new Date(time).toLocaleDateString();
                return date.getDate().toString() + " " + months[date.getMonth()] + ", " + date.getFullYear();
            }
    }


</script>
