<ion-view title="Happy Hops" hide-back-button="true" class="welcome">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content>
        <div style="margin-top: 50px;text-align: center;">
                <div ng-if="bartenderuser.id">
                    <div class="header status{{user.status}}-bg">
                        <img class="avatar" ng-src="{{bartenderuser.pictureurl || 'img/avatar.jpg'}}" ng-click="popupDialog()"/>
                    </div>
                        <h2 style="margin-top: 2px;">{{bartenderuser.nickname}}</h2>
                        <h2 style="margin-top: 2px;">{{bartenderuser.barname}}</h2>
                        <br>
                        <br>
                        <a class="ion-checkmark-circled" data-pack="default" data-tags="complete, finished, success, on">Success</a>
                        <br>
                        <br>
                        <a class="button button-stable" ui-sref="app.post" style="max-width:84%;color:#73404C;padding-left:28px;padding-right:28px;">
                             New Post
                        </a>
                </div>

        </div>
        </div>
            <div ng-repeat="offer in offers" class="list card">
                <a ui-sref="app.offer-detail({offerId: offer.id})">
                    <div class="item item-avatar">
                        <img ng-if="offer.bartenderpic" ng-src="{{offer.bartenderpic}}">
                        <p><b>{{offer.bartendername}}</b></p>
                        <p>{{offer.barname}}</p>
                    </div>
                    <div class="item item-text-wrap" style="padding: 0;">
                        <div class="row">
                          <div class="col"><p>{{offer.timeago}}</p></div>
                          <div class="col" style="text-align: right;"><p>0.3 mile</p></div>
                        </div>
                    </div>
                    <div class="item item-image">
                        <img class="full-image" ng-if="offer.image" ng-src="{{offer.image}}">
                    </div>

                    <div class="item item-body">
                       <p style="font-size: large;">{{offer.description}}</p>

                    </div>

                </a>
                </div>
    </ion-content>

</ion-view>
