<ion-view title="Happy Hops" hide-back-button="true" class="welcome">

<!-- <ion-view title="Happy Hops" hide-back-button="true" class="welcome" hide-nav-bar='true'>
 -->
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content>
<!--         <div class="card">
 -->
        <div style="margin-top: 50px;text-align: center;">
    

 
<!--             <p> Avator </p>
            <p>Jack</p>
            <p> Bar</p>
            <p> Free Text </p>
            <p> Submit </p>
 -->

                <div ng-if="bartenderuser.id">
                    <div class="header status{{user.status}}-bg">
                        <img class="avatar" ng-src="{{bartenderuser.pictureurl || 'img/avatar.jpg'}}" ng-click="popupDialog()"/>
<!--                         <h3>Member since {{user.createddate | date:'longDate'}}</h3> -->
                    </div>
                        <h2 style="margin-top: 2px;">{{bartenderuser.nickname}}</h2>
                        <h2 style="margin-top: 2px;">{{bartenderuser.barname}}</h2>
                        <!-- <label class="item item-input">
                            <input type="text" placeholder="Free Text" ng-model="bartenderuser.text">
                        </label> -->

                      <!--   <ion-list>
                          <ion-radio ng-model="choice" ng-value="'A'">Success</ion-radio>
                        </ion-list> -->
                        <br>
                        <br>
                        <a class="ion-checkmark-circled" data-pack="default" data-tags="complete, finished, success, on">Success</a>
                        <br>
                        <br>
                        <a class="button button-stable" ui-sref="app.post" style="max-width:84%;color:#73404C;padding-left:28px;padding-right:28px;">
                             New Post
                        </a>
                </div>

        </div>
        </div>
<!--         <ion-scroll zooming="true" direction="xy" style="width: 100%; height: 500px">
  -->            <div ng-repeat="offer in offers" class="list card">
                <a ui-sref="app.offer-detail({offerId: offer.id})">
                    <div class="item item-avatar">
                        <img ng-if="offer.bartenderpic" ng-src="{{offer.bartenderpic}}">
                        <p><b>{{offer.bartendername}}</b></p>
                        <p>{{offer.barname}}</p>
                    </div>
                    <div class="item item-text-wrap" style="padding: 0;">
                        <div class="row">
                          <div class="col"><p>{{offer.timeago}}</p></div>
                          <div class="col" style="text-align: right;"><p>0.3 mile</p></div>
                        </div>
                    </div>
                    <div class="item item-image">
                        <img class="full-image" ng-if="offer.image" ng-src="{{offer.image}}">
                    </div>

                    <div class="item item-body">
<!--                         <img class="full-image" ng-if="offer.image" ng-src="{{offer.image}}"> -->
                       <p style="font-size: large;">{{offer.description}}</p>
                       <!-- <p align = "left"> 0.3 mile</p> -->
<!--                         <p>
                            <a href="#" class="subdued">1 Like</a>
                            <a href="#" class="subdued">5 Comments</a>
                        </p> -->
                    </div>

                </a>
                </div>
    </ion-content>

</ion-view>