<ion-view title="Happy Hops" hide-back-button="true" class="welcome">
		 <ion-nav-buttons side="left">
				<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
		</ion-nav-buttons>

		<ion-content>
				<div style="margin-top: 50px;text-align: center;">

								<div ng-if="bartenderuser.id">
										<div class="header status{{user.status}}-bg">
												<img class="avatar" ng-src="{{bartenderuser.pictureurl || 'img/avatar.jpg'}}" ng-click="popupDialog()"/>
										</div>
												<h2 style="margin-top: 2px;">{{bartenderuser.nickname}}</h2>
												<h2 style="margin-top: 2px;">{{bartenderuser.barname}}</h2>

												<br>
												<br>
												<form action="postimg" target="hiddenFrame" enctype="multipart/form-data"  method="post">


													<input type = "file" accept="image/*" name="upload" id="upload" class="inputfile"/>
													<label for="upload">
														<button class="button icon ion-ios7-camera button-light"></button>

													</label>
													<br>
													<br>
													<input type = "hidden" name="{{bartenderuser.id}}" >
													<label class="item item-input">
														<input type = "text" placeholder="Free Text" name="text">
													</label>
													<br>
													<button class="button button-block button-stable" ng-click = "showPopup()">
														Post
													</button>

													<br>
												</form>

								</div>

				</div>
				</div>
            	<div ng-repeat="offer in offers" class="list card">
									<a ui-sref="app.offer-detail({offerId: offer.id})">
										<div class="item item-avatar">
												<img ng-if="offer.bartenderpic" ng-src="{{offer.bartenderpic}}">
												<p><b>{{offer.bartendername}}</b></p>
												<p>{{offer.barname}}</p>
										</div>
										<div class="item item-text-wrap" style="padding: 0;">
												<div class="row">
													<div class="col"><p>{{offer.timeago}}</p></div>
													<div class="col" style="text-align: right;"><p>0.3 mile</p></div>
												</div>
										</div>
										<img class="full-image" ng-if="offer.campaignpage" ng-src="{{offer.campaignpage}}">
										<img class="full-image" ng-if="!offer.campaignpage" ng-src="{{offer.image}}">

										<div class="item item-body">
											 <p style="font-size: large;">{{offer.description}}</p>

										</div>

									</a>
								</div>
			<iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>

		</ion-content>

</ion-view>
