<ion-view title="" hide-back-button="true" class="welcome">

		<ion-nav-buttons side="left">
				<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
		</ion-nav-buttons>
		<ion-nav-buttons side="right">
				<a class="button button-clear" href="#/app/edit-profile">Edit</a>
		</ion-nav-buttons>

		<ion-content padding="false" scroll="false">
			<div style="margin-top: 50px;text-align: center;">

				<div ng-if="bartenderuser.id">
						<div class="header status{{user.status}}-bg">
								<img class="avatar" ng-src="{{bartenderuser.pictureurl || 'img/avatar.jpg'}}" ng-click="popupDialog()"/>
						</div>
								<h2 style="margin-top: 2px;">{{bartenderuser.nickname}}</h2>
								<h2 style="margin-top: 2px;">{{bartenderuser.barname}}</h2>
								<br>
								<h2>{{bartenderuser.description}}</h2>
				</div>
		</div>

		</ion-content>

</ion-view>
