<ion-view class="welcome" hide-nav-bar='true'>

    <ion-content>

        <div style="margin-top: 50px;text-align: center;">

<!--             <img src="css/img/logo.svg" style="width:65%; margin:0 auto;display: block;"/> -->
            <img src="css/img/HappyHops2.png" style="width:65%; margin:0 auto;display: block;"/>


            <h2 style="margin-top: 2px;">Where are you</h2>
            <h2>hopping</h2>
            <h2>next?</h2>

            <div class="bottom">
                <a class="button button-stable" ui-sref="app.signup" style="max-width:84%;color:#73404C;padding-left:28px;padding-right:28px;">
                    Sign Up to happy some hops
                </a>
                <a class="button button-block button-clear" ui-sref="app.login">
                    Already a Hopper?&nbsp;&nbsp;Log In&nbsp;<i class="icon-arrow-right"></i>
                </a>
            </div>


            <ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
              <div style="width: 100%; height: 5000px; background: url('https://upload.wikimedia.org/wikipedia/commons/a/ad/Europe_geological_map-en.jpg') repeat"></div>
            </ion-scroll>

        </div>

    </ion-content>

</ion-view>
